body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    
}

h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal; 
}

:root{
    --main: #003B95;
    --sec: #FFB700;
    --acc: #008234 ;
}

.navLogo {
    height: 75px;
    width: 75px;
}

.navCustom {
    background-color: var(--main);
}


.nav-link{
    color: white !important;
}

.bg-dropdown:hover{
    background-color: var(--sec);
}

.ul-position{
    width: 80%;
    display: flex;
    justify-content: center;
}

.badge{
    height: 40px;
    width: 40px;
    background-color: var(--main);
    border-radius: 50%;
    border: 1px solid whitesmoke;
    position: absolute;
    top: -20px;
    right: 0px;
    font-size: 20px;
}

.btnCustom{
    background-color: var(--main);
    color: var(--sec);
}

.btnCustom:hover{
    background-color: green;
    color: var(--main);
}

.bgCarousel {
    background:linear-gradient(var(--main) 5%, var(--sec) 95%);
}


.bgContainer{
    background:linear-gradient(var(--sec) 5%, var(--main) 95%);
    border-bottom: 2px solid var(--sec) ;
}

.cardCustom {
    background-color: var(--sec);
}

.bgFooter{
    
    background:linear-gradient(var(--main) 5%, var(--sec) 95%);
}

.nav-link1{
    color: white !important;
}

.nav-link1:hover{
    color: var(--sec) !important;
}

.bi {
    background-color: var(--main);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
